html {
    font-size: 62.5%;
}

ul {
    list-style-type: none;
}


.cadeiaName, .temaName, .subtema {
    font-size: 1.3rem;
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
    background-color: antiquewhite;
    width: fit-content;
}


#cadeias {
    display: flex;
    flex-direction: column;
    gap: 50px;
}



.subtemas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.cadeia {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: solid 1px royalblue;
}

.cadeiaName, .tema {
    margin: 5px
}

.temaName, .subtema {
    margin: 5px
}

.cadeiaName {
    grid-column: 1;
    grid-row: 1 / 10000;
    align-self: center;
    
}

.tema {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2 / 6;
    display: grid;
    padding: 10px;
    border-bottom: solid 1px red;
}

.temaName {
    grid-column: 1;
    grid-row: 1 / 10000;
    align-self: center;
}

.subtema {
    grid-column: 2;
}